body {
    font-size: 18px;
    font-family: 'Raleway', 'Titillium Web', Tahoma, Geneva, sans-serif;
    color: rgb(60, 60, 60);
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Ruda', "Trebuchet MS", Arial, Sans-Serif;
    text-align: center;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.7em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}

form p {
    font-style: italic;
    text-align: center;
}