html {
  font-size: 50%;
}

body {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Raleway', serif;
    color: rgb(60, 60, 60);
    font-weight: 300;
    line-height: 1.3;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.15rem;
    line-height: 1.2;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 37px;
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 9px;
}

h2 {
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 11px;
}

h3 {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

p:not(:last-of-type) {
    margin-bottom: 1rem;
}

#website-link-button {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
    font-family: 'Raleway', serif;
    color: rgb(100, 100, 100);
    line-height: 1.3;
}


/*
---------------------------------- HEADER ----------------------------------------
*/

.header p {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    font-size: 2.1rem;
    letter-spacing: -0.02rem;
    margin-bottom: 0;
}

.change_version_text a:link,
.change_version_text a:visited {
    color: rgb(120, 120, 120);
}

.change_version_text a:hover {
    color: rgb(80, 80, 80);
}

.change_version_text p div {
    color: rgb(60, 60, 60);
    text-decoration: underline;
    font-size: 0.8em;
    font-style: normal;
}

.change_version_text p:hover {
    color: rgb(80, 80, 80);
}

/*
---------------------------------- INPUT FORM ----------------------------------------
*/

form p {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.form-row > label {
    font-weight: 400;
}

input, select, .Select, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: 15px;
    font-size: 1.5rem;
}

.form-row input[type='number'], .form-row .box-fields {
    text-align: center;
}


.tab-label {
    font-size: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.mantine-Switch-label{
    font-size: 1.7rem;
    margin-left: 6px;
}

.form-help-markdown {
    font-size: 17px;
}



/*
---------------------------------- Tooltip ----------------------------------------
*/

.tooltip {
    position: relative;
}

.tooltip-icon {
    display: inline-block;
    /* Text content of the icon */
    font-style: bold;
    font-size: 0.8em;
    text-align: center;
    color: rgb(100, 100, 100);
    /* Border of the icon */
    height: 1.1em;
    width: 1.2em;
    line-height: 1.1em;
    border-radius: 50%;
    border: .5px solid rgb(100, 100, 100);
    /* Position of the icon */
    position: relative;
    left: 0.3em;
    top: 0.05em;       
}

.tooltip-text {
    font-size: .8em;
    visibility: hidden;
    width: 12em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-style: normal;
    /* Position of the text */
    position: absolute;
    right: 1em;
    z-index: 1;
}


#data_version_tooltip .tooltip-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 200;
}



/*
---------------------------------- IMPORT-EXPORT ----------------------------------------
*/

#export-result {
    font-size: 22px;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
}

#export-content {
    vertical-align: middle;
}

#import-result {
    font-size: 22px;
    font-size: 2.2rem;
}

#log-error-subtitle {
    font-size: 12px ;
}

#log-error-content {
    font-size: 12px ;
    font-style: italic;
}


/*
---------------------------------- MINI-BOX ----------------------------------------
*/

.caption-icons p {
    margin-bottom: 0;
}

.caption-icons p:first-of-type {
    font-weight: 600;
    font-size: 25px;
    font-size: 2.5rem;
    margin-bottom: 6px;
}

.caption-icons p:last-of-type {
    font-weight: 400;
}

.detailed-metric-container {
    font-size: 12px
}

.metric-per-form-value {
    font-weight: 600;
    font-size: 12px;
    margin-right: 6px;
    margin-left: 2px;
}


/*
---------------------------------- DESCRIPTIONS ----------------------------------------
*/

.report p {
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    font-weight:400;
}

/*
---------------------------------- ABOUT US ----------------------------------------
*/

.authors p:first-of-type {
    margin-bottom: 0.5rem;
}

.affiliations  p {
    text-align: left;
    font-size: 14px;
    font-size: 1.4rem;
}

.affiliations p:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.affiliations  p:first-of-type {
    margin-top: 1rem;
}

.affiliations p:last-of-type {
    margin-bottom: 1rem;
}

.show-stripes p:last-of-type {
    margin-top: 3rem
}

/*
---------------------------------- Footer ----------------------------------------
*/

.citation-report p {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: left;
}

.footnote-authorship p {
    font-size: 15px;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.text-italic {
    font-style: italic;
}




