body {
  background-color: #f2f2f2;
  background-image: url("stripes_sym2.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%; /*700px;*/
  /*margin: 5%;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.super-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align:center;

    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 5px 15px 8px 15px;
    padding: 25px;
    box-shadow: 2px 2px 2px lightgrey;
}

.header {
    background-color: rgba(249, 249, 249,0.6);
    padding-top: 38px;
    padding-bottom: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*
---------------------------------- INPUT FORM ----------------------------------------
*/

.input-form {
    display: block;
    text-align:left;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row:last-of-type {
    margin-bottom: 0;
}

.form-row > label {
    margin-bottom: 7px;
}


.form-row  input[type='number'],
.form-row .Select-control {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
}

.form-row input[type='number'] {
    padding: 7px;
}

.bottom-dropdown {
    margin-top: 5px;
}

.box-runtime {
    display: flex;
}

.box-runtime input {
    width:50%;
}

.radio-input {
    width: 100%;
    margin: 10px 0 13px 0;
    display: flex;
    justify-content: space-around;
}

.radio-input label:last-of-type {
    margin-right: 20px;
}

.form-row input[type='radio'] {
    margin-right: 7px;
}

/*
---------------------------------- MINI-BOX ----------------------------------------
*/

.mini-box {
    height: 300px;
}

.style-icon {
    height: 130px;
    width: 130px;
    margin-top:0px;
    margin-bottom:0px
}

.two-graphs-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.graph-container {
    width: 100%;
    height: 100%
    display: block;
}

.one-of-two-graphs {
    width: 100%;
}

/*
.graph-object {
    width: 100%;
    display: block;
}
*/
