/* Tablet Styles */

@media only screen and (min-width: 550px) and (max-width: 1000px) {

    html {
      font-size: 57%;
    }


    /*
    ---------------------------------- INPUT FORM ----------------------------------------
    */

    .form-row > label {
        width: 70%;
        margin-bottom: 7;
    }

    /* The sum of the following three widths should be 100% */
    .short-input label {
        width: 45%;
        margin-bottom: 0;
    }

    .form-row .tooltip {
        width: 5%;
    }

    .short-input .box-fields, 
    .short-input > input[type = 'number'] {
        width: 50%;
    }

    /* The following one is used for location and cloud computing */
    .long-input .box-fields {
        width: 95%;
    }

    .TDP > label {
        box-sizing: border-box;
        width: 70%;
        padding-right: 25px;
    }

    .TDP > input[type = 'number'] {
        width: 25%;
    }

    .form-row .box-runtime input:first-of-type {
        margin-right:0;
        margin-bottom:2px;
    }

    .form-row input:last-of-type {
        margin-left:0;
    }
    
    .radio-row label{
            width: 45%;
        }

    .radio-and-field{
        width: 50%
        /* equivalent to the .short-input .box-fields selector */  
    }  

    .radio-input {
        width: 50%;
        margin: 0;
        padding-left: 20px;
    }

    .radio-row input[type='number'] {
        width: 45%;
    }

    .reset-button {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    /*
    ---------------------------------- IMPORT-EXPORT ----------------------------------
    */

    #import-export-buttons {
        display: flex;
        flex-direction: row;
    }

    #export-result {
        margin-right: 4px;
        width: calc((50%) - (4px));
    }

    #import-result {
        margin-left: 4px;
        width: calc((50%) - (4px));
    }

    #import-error-message{
        width: 100%;
    }
    

    /*
    ---------------------------------- MINI-BOX ----------------------------------------
    */

    .mini-box {
        margin-right: 12px;
        height: 180px;
    }

    /* We target the extreme right mini-box(s) */
    .mini-box:nth-of-type(2), .mini-box:nth-of-type(5) {
        margin-right: 0;
    }

    /* We target the top row of mini-box(s) */
    .mini-box:nth-of-type(1), .mini-box:nth-of-type(2) {
        width: calc((50%) - (6px));
    }

    /* We target the second row of mini-boxe(s) */
    .mini-box:nth-of-type(n+3) {
        width: calc((33%) - (8px));
        flex-direction: column;
        height: 240px;
    }

    /*
    ---------------------------------- FIRST OUTPUT ----------------------------------------
    */

    .one-of-two-graphs {
        width: calc((50%) - (10px));
    }

    .one-of-two-graphs:first-of-type {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .pie-graph {
        margin-top: 70px;
    }

    /*
    ---------------------------------- MAP AND DEFINITIONS ----------------------------------------
    */

    .definitions {
        flex-direction: row;
        align-items: stretch;
    }

    .definitions .container:first-of-type {
        margin-right: 12px;
        width: calc((55%) - (6px));
    }

    .definitions .container:last-of-type {
        width: calc((45%) - (6px));
    }

    /*
    ---------------------------------- FOOTER ----------------------------------------
    */

    .data-questions {
        flex-direction: row;
        align-items: stretch;
    }

    .data-questions .container:first-of-type {
        margin-right: 12px;
        width: calc((40%) - (6px));
    }

    .data-questions .container:last-of-type {
        width: calc((60%) - (6px));
    }

    .about-us {
        margin-right: 12px;
        width: calc((55%) - (6px));
    }

    .show-stripes {
        width: calc((45%) - (6px));
    }

    .citation {
        order: 1;
    }
}
