/* Small desktop Styles */
@media only screen and (min-width: 1001px) {

    html {
      font-size: 62.5%;
    }

    .fullPage {
        width: 95%;
        margin: 0 auto;
    }

    .page_content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: unset;
    }

    /*
    ---------------------------------- INPUT FORM ----------------------------------------
    */

    .input-form {
        margin-right: 12px;
        width: calc((33.3%) - (6px));
    }

    .ai-input-forms {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: row; 
        width: 100%;
    }

    .ai-input-forms .input-form {
        width: calc((50%) - (6px));
    }

    .ai-input-forms form:last-of-type{
        margin-right: 0px;
    }

    .form-row .box-fields,
    .form-row .radio-and-field,
    .form-row > input[type = 'number'] {
        width: 91%;
    }
    
    
    /*
    ---------------------------------- Tooltip ----------------------------------------
    */

    .form-row .tooltip {
        width: 4%;
        margin-left: -0.5em;
    }  

    .tooltip-text {
        position: absolute;
        right: 0.1em
    }
        
    
    .tooltip-icon {
        /* Position of the icon */
        position: relative;
        left: 0.3em;
        top: 0.05em;       
    }
    
        
    /*
    ---------------------------------- IMPORT-EXPORT ----------------------------------------
    */
    
    #import-export-buttons {
        display: flex;
        flex-direction: row;
    }
    
    #import-result {
        margin-left: 6px
    }


    
    /*
    ---------------------------------- MINI-BOX ----------------------------------------
    */

    .caption-icons p:first-of-type {
        font-size: 22px;
        font-size: 2.2rem;
    }    

    .mini-box {
        margin-right: 12px;
        height: 170px;
    }    

    /* We target the extreme right mini-box(s) */
    .mini-box:nth-of-type(2), .mini-box:nth-of-type(5) {
        margin-right: 0;
    }    

    /* We target the top row of mini-box(s) */
    .mini-box:nth-of-type(1), .mini-box:nth-of-type(2) {
        width: calc((50%) - (6px));
    }    

    /* We target the second row of mini-boxe(s) */
    .mini-box:nth-of-type(n+3) {
        width: calc((33%) - (8px));
        flex-direction: column;
        height: 260px;
    }        


    /*
    ---------------------------------- FIRST OUTPUT ----------------------------------------
    */

    .first-output {
        width:calc((66.6%) - (6px));
    }

    .two-graphs-box {
        flex-grow: 1;
    }


    .one-of-two-graphs:last-of-type {
        padding-right: 80px;
        padding-left: 80px;
        /*margin-bottom: 0;*/
    }


    /*
    ---------------------------------- FORMULA AND DEFINITIONS ----------------------------------------
    */

    .formula {
        margin-right: 12px;
        width: calc((60%) - (6px));
    }

    .definitions {
        width: calc((40%) - (6px));
    }

    .definitions .container {
        height: calc((50%) - (12px));
    }

    .methodology-container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }


    /*
    ---------------------------------- REPORT and CORES COMPARISON ----------------------------------------
    */
    
    .report {
        order: 1;
        margin-right: 10px;
        width: calc((45%) - (6px));
    }

    .core-comparison {
        width: calc((55%) - (6px));
        order: 1;
    }

    /*
    ---------------------------------- WHAT CAN YOU DO ----------------------------------------
    */

    /*.to-do {*/
    /*    width: calc((45%) - (6px));*/
    /*    margin-right: 12px;*/
    /*    order: 1;*/
    /*}*/


    /*
    ---------------------------------- FOOTER ----------------------------------------
    */

    .about-us {
        order: 1;
        margin-right: 12px;
        width: calc((33.3%) - (8px));
    }

    .data-questions {
        order: 2;
        margin-right: 12px;
        width: calc((33.3%) - (8px));
    }

    .show-stripes {
        order: 2;
        width: calc((33.3%) - (8px));
    }

    .citation {
        order: 1;
    }
}