/* Small desktop Styles */
@media only screen and (min-width: 1001px) {

    html {
      font-size: 62.5%;
    }

    .fullPage {
        width: 1000px;
        margin: 0 auto;
    }

    /*
    ---------------------------------- INPUT FORM ----------------------------------------
    */

    .input-form {
        margin-right: 12px;
        width: calc((33.3%) - (6px));
    }

    .form-row .box-fields,
    .form-row .radio-and-field,
    .form-row > input[type = 'number'] {
        width: 91%;
    }
    
    .form-row .tooltip {
        width: 4%;
        margin-left: -0.5em;
    }  

    .tooltip-text {
        position: absolute;
        left: 1em
    }
    
        
    /*
    ---------------------------------- IMPORT-EXPORT ----------------------------------------
    */
    
        #import-export-buttons {
            display: flex;
            flex-direction: row;
        }
     
        #import-result {
            margin-left: 6px
        }


    
    /*
    ---------------------------------- MINI-BOX ----------------------------------------
    */

    .caption-icons p:first-of-type {
        font-size: 22px;
        font-size: 2.2rem;
    }    

    .mini-box {
        margin-right: 12px;
        height: 170px;
    }    

    /* We target the extreme right mini-box(s) */
    .mini-box:nth-of-type(3), .mini-box:nth-of-type(6) {
        margin-right: 0;
    }    

    /* We target the top row of mini-box(s) */
    .mini-box:nth-of-type(2), .mini-box:nth-of-type(3) {
        width: calc((50%) - (6px));
    }    

    /* We target the second row of mini-boxe(s) */
    .mini-box:nth-of-type(n+4) {
        width: calc((33%) - (8px));
        flex-direction: column;
        height: 260px;
    }        


    /*
    ---------------------------------- FIRST OUTPUT ----------------------------------------
    */

    .first-output {
        width:calc((66.6%) - (6px));
    }

    .two-graphs-box {
        flex-grow: 1;
    }

    /*.one-of-two-graphs {*/
    /*    width: calc((50%) - (10px));*/
    /*}*/

    .one-of-two-graphs:last-of-type {
        padding-right: 80px;
        padding-left: 80px;
        /*margin-bottom: 0;*/
    }

    /*.pie-graph {*/
    /*    margin-top: 70px;*/
    /*}*/

    /*
    ---------------------------------- FORMULA AND DEFINITIONS ----------------------------------------
    */

    .formula {
        margin-right: 12px;
        width: calc((60%) - (6px));
    }

    /*.formula .graph-container {*/
    /*    margin-top: 30px;*/
    /*}*/

    .definitions {
        width: calc((40%) - (6px));
    }

    .definitions .container {
        height: calc((50%) - (12px));
    }

    /*
    ---------------------------------- REPORT and CORES COMPARISON ----------------------------------------
    */

    .report {
        order: 1;
        width: calc((45%) - (6px));
    }

    .core-comparison {
        width: calc((55%) - (6px));
        order: 1;
    }

    /*
    ---------------------------------- WHAT CAN YOU DO ----------------------------------------
    */

    /*.to-do {*/
    /*    width: calc((45%) - (6px));*/
    /*    margin-right: 12px;*/
    /*    order: 1;*/
    /*}*/


    /*
    ---------------------------------- FOOTER ----------------------------------------
    */

    .about-us {
        order: 1;
        margin-right: 12px;
        width: calc((33.3%) - (8px));
    }

    .data-questions {
        order: 2;
        margin-right: 12px;
        width: calc((33.3%) - (8px));
    }

    .show-stripes {
        order: 2;
        width: calc((33.3%) - (8px));
    }

    .citation {
        order: 1;
    }
}