/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .fullPage {
        width: 1024px;
        margin: 0 auto;
    }

    .input-form {
        width: 30%;
    }

    .first-output {
        width:63%
    }

    .mini-box {
        width: 21%;
    }

    .two-graphs-box {
        justify-content: space-around;
    }

    .one-of-two-graphs {
        width: 40%;
    }

    .super-section {
        align-items: stretch;
    }

    .map {
        width: 55%;
    }

    .definitions {
        width: 40%;
    }

    .core-comparison {
        width: 55%;
        order: 1;
    }

    .to-do {
        width: 40%;
    }

    .formula {
        width: 55%;
        order: 1;
    }

    .report {
        width: 40%;
        order: 1;
    }

    .questions {
        width: 30%;
        order: 2;
    }

    .about-us {
        width: 30%;
        order: 1;
    }

    .show-stripes {
            width: 30%;
            order: 2;
        }
}