/* Large desktop Styles */
@media only screen and (min-width: 1281px) {

    body {
        background-image: url("stripes_sym2.png");
    }

    .fullPage {
        width: 95%;
        margin: 0 auto;
    }

    .page_content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: unset;
    }
    
    .navlink-icon {
        height: 2.6em;
    }

    /*
    ---------------------------------- INPUT FORM ----------------------------------------
    */

    .short-input .box-runtime {
        display:block;
        width: 50%;
    }

    .short-input .box-runtime input:first-of-type {
        margin-right:0;
        margin-bottom:2px;
    }

    .box-runtime input:last-of-type {
        margin-left:0;
    }

    .form-row .box-fields,
    .form-row .radio-and-field {
        width: 94%
    }

    .short-input label {
            width: 47%;
            margin-bottom: 0;
        }

    .short-input > input[type='number'],
    .short-input .box-fields {
        width: 47%;
    }


    
    .continuous-switcher {
        width: 95.5%
    }

    .input_data_time-section input:first-of-type {
        margin-right:0px;
    }

    .input_data_time-section > input[type = 'number'],
    .input_data_time-section .box-fields {
        width: 23.5%;
    } 


    .tooltip {
        width: 4%;
        margin-left: 0em;
        margin-right: -1em;
    }
    
    /*
    ---------------------------------- MINI-BOX ----------------------------------------
    */

    .mini-box:nth-of-type(n+3) {
        height: 240px;
    }

    .training-metric {
        margin-right: 50px;
    }


    /*
    ---------------------------------- FIRST OUTPUT ----------------------------------------
    */

    .one-of-two-graphs {
        width: calc((50%) - (10px));
    }

    .one-of-two-graphs:first-of-type {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .one-of-two-graphs:last-of-type {
        padding-right: 0;
        padding-left: 0;
        /*margin-bottom: 0;*/
    }

    .pie-graph {
        margin-top: 100px;
    }

    /*
    ---------------------------------- FOOTER ----------------------------------------
    */

    .data-questions .container {
        flex-grow:1;
    }

}