/* Large desktop Styles */
@media only screen and (min-width: 1281px) {

    body {
        background-image: url("stripes_sym2.png");
    }

    .fullPage {
        width: 1280px;
        margin: 0 auto;
    }

    /*
    ---------------------------------- INPUT FORM ----------------------------------------
    */

    .short-input .box-runtime {
        display:block;
        width: 50%;
    }

    .short-input .box-runtime input:first-of-type {
        margin-right:0;
        margin-bottom:2px;
    }

    .box-runtime input:last-of-type {
        margin-left:0;
    }

    .form-row .box-fields {
        width: 94%
    }

    .short-input label {
            width: 47%;
            margin-bottom: 0;
        }

    .short-input > input[type='number'],
    .short-input .box-fields {
        width: 47%;
    }

    .form-row .radio-and-field {
        width: 94%;
    }

    .tooltip {
        width: 4%;
        margin-left: 0em;
        margin-right: -1em;
    }

    .tooltip-text {
        position: absolute;
        left: 1em
    }
    
    /*
    ---------------------------------- MINI-BOX ----------------------------------------
    */

    .mini-box:nth-of-type(n+3) {
        height: 240px;
    }

    .mini-box {
        flex-direction: column;
        display: flex;
        /* align-items: center; */
    } 

    .caption-icons {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .detailed-metric-container {
        display: flex;
        flex-direction: row;
    }

    /*
    ---------------------------------- FIRST OUTPUT ----------------------------------------
    */

    .one-of-two-graphs {
        width: calc((50%) - (10px));
    }

    .one-of-two-graphs:first-of-type {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .one-of-two-graphs:last-of-type {
        padding-right: 0;
        padding-left: 0;
        /*margin-bottom: 0;*/
    }

    .pie-graph {
        margin-top: 100px;
    }

    /*
    ---------------------------------- FOOTER ----------------------------------------
    */

    .data-questions .container {
        flex-grow:1;
    }

}