.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  background-image: url("stripes_fading3.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%; /*700px;*/
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.centered-text {
  text-align: center
}

.pretty_container {
  display: flex;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  /*position: relative;*/
  box-shadow: 2px 2px 2px lightgrey;
}

.bare_container {
  margin: 0;
  padding: 0;
}

.dcc_control_row {
  margin: 0px;
  padding: 0;
  width:100%;
  min-width:50px;
}

.dcc_control_column {
  margin:0;
  padding: 0;
  margin-top:2px;
  margin-bottom:2px;
  width: 100%;
}

.control_label {
  margin: 0;
  padding: 0;
}

.flex-display {
  display: flex;
}

.icons-display {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

.mini_container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  flex: auto;
  /*flex: 1 25%;*/
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  /*position: relative;*/
  box-shadow: 2px 2px 2px lightgrey;
  /*text-align: center;*/
}

.style-icon {
  height: 130px;
  width: 130px;
  margin-top:0px;
  margin-bottom:0px
}

.container-labels-icon {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin-bottom:0px;
  margin-top:0;
}

.control-container-row {
  display:flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  margin:7px;
}

.control-container-column {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin:7px;
  /*flex-wrap: wrap;*/
}

.flex-half {
 flex:1 50%;
}

.flex-quarter {
 flex:1 25%;
}

.by-column {
  flex-direction: column;
}



/* CUSTOMISED CONTAINER DESIGN (by name) */

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#header {
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

#title_container {
  text-align: center;
  flex-direction:column;
}

#title {
  margin-bottom: 0
}

#subtitle {
  margin-top: 0
}

#input_calculator {
  flex-direction:column;
  flex:auto;
  align-items: stretch;
  min-width: 300px;
}

#firstRow_rightColumn {
  justify-content: space-between;
}

#info_container {
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
}

#pieGraphContainer {
  align-items:center;
  justify-content: center;
  flex: 2 1 auto;
}

#pie_graph,
#map {
  height: 100%;
  width: 100%;
}

#barPlotComparison_container {
  align-items:stretch;
  justify-content: center;
  flex: auto;
}

#barPlotComparison,
#map {
  height: 100%;
  width: 100%;
}